/* Website by Tim Zander @ 31.10.2024 */

:root {
    --background-color: #2b2b2b;
    --text-color: #ddd;
    --button-background: #171717;
    --button-text-color: #C7F900;
    --button-hover-background: #373737;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: "Arial", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    overflow-x: hidden;
}

.profile {
    text-align: center;
    margin: 20px; 
}

.profile img {
    width: 120px;
    border-radius: 50%;
    max-width: 100%; 
    height: auto;    
}

.links {
    text-align: center; 
    margin: 20px 0;    
}

.link-button {
    background-color: var(--button-background);
    color: var(--button-text-color);
    font-family: "Doto", sans-serif;
    padding: 15px 30px;
    margin: 10px 0;
    text-align: left;
    text-decoration: none;
    display: flex;
    align-items: center;
    width: 200px;
    border-radius: 15px;
    font-size: 18px;
    line-height: 1.5;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.link-button:hover {
    background-color: var(--button-hover-background);
    transform: scale(1.03);
}

.link-button i {
    margin-right: 10px;
    color: var(--button-text-color);
}

.footer {
    margin-top: 20px;
    font-size: 14px;
}

h1 {
    font-family: "Doto", sans-serif;
}

/* Responsive Styles */
@media (max-width: 600px) {
    body {
        height: auto; 
        padding: 10px; 
    }

    .profile img {
        width: 80px; 
    }

    h1 {
        font-size: 24px; 
    }
}

/* doto-regular */
@font-face {
    font-display: swap;
    font-family: 'Doto';
    font-style: normal;
    font-weight: 400;
    src: url('/Fonts/doto-v1-latin-regular.woff2') format('woff2');
}

/* source-code-pro-regular */
@font-face {
    font-display: swap;
    font-family: 'Source Code Pro';
    font-style: normal;
    font-weight: 400;
    src: url('/Fonts/source-code-pro-v23-latin-regular.woff2') format('woff2');
}

/* press-start-2p-regular */
@font-face {
    font-display: swap;
    font-family: 'Press Start 2P';
    font-style: normal;
    font-weight: 400;
    src: url('/Fonts/press-start-2p-v15-latin-regular.woff2') format('woff2');
}

