/* Website by Tim Zander @ 31.10.2024 */

:root {
    --background-color: #2b2b2b;
    --text-color: #ddd;
    --button-background: #171717;
    --button-text-color: #C7F900;
    --button-hover-background: #373737;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    overflow-x: hidden;
}

.profile {
    text-align: center;
    margin: 20px; 
}

.profile img {
    width: 120px;
    border-radius: 50%;
    max-width: 100%; 
    height: auto;    
}

.links {
    text-align: center; 
    margin: 20px 0;    
}

.link-button {
    background-color: var(--button-background);
    color: var(--button-text-color);
    padding: 15px 30px;
    margin: 10px 0;
    text-align: left;
    text-decoration: none;
    display: flex;
    align-items: center;
    width: 200px;
    border-radius: 15px;
    font-size: 18px;
    line-height: 1.5;
    transition: background 0.3s;
}

.link-button:hover {
    background-color: var(--button-hover-background);
}

.link-button i {
    margin-right: 10px;
    color: var(--button-text-color);
}

.footer {
    margin-top: 20px;
    font-size: 14px;
}

/* Responsive Styles */
@media (max-width: 600px) {
    body {
        height: auto; 
        padding: 10px; 
    }

    .profile img {
        width: 80px; 
    }

    h1 {
        font-size: 24px; 
    }
}
